.p {
  width: 30%;
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 35px;
  background-color: #3d2c8d;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle-r {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #f05454;
}

.p-circle-y {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #ffe400;
}

.p-circle-g {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #6ecb63;
}
.p-topic {
  font-weight: 200;
  color: white;
  font-size: 10px;
  margin: 0px 5px;
  max-width: 300px;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-50%);
}

/*.p-topic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}
*/
@media screen and (max-width: 1374px) {
  .p-topic {
    max-width: 250px;
  }
}

@media screen and (max-width: 1127px) {
  .p-topic {
    font-size: 8px;
    max-width: 180px;
  }
}

@media screen and (max-width: 972px) {
  .p-topic {
    max-width: 160px;
  }
  .p {
    height: 20vh;
  }
}

@media screen and (max-width: 900px) {
  .p-topic {
    max-width: 120px;
    font-size: 7px;
  }
  .p {
    height: 20vh;
  }
}

@media screen and (max-width: 769px) {
  .p-topic {
    max-width: 180px;
    font-size: 7px;
  }
  .p {
    height: 20vh;
    width: 45%;
  }
}

@media screen and (max-width: 706px) {
  .p-topic {
    max-width: 100px;
    font-size: 6px;
  }
}

@media screen and (max-width: 608px) {
  .p {
    height: 20vh;
    width: 40%;
  }
  .p-topic {
    max-width: 80px;
    font-size: 6px;
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
  .p-topic {
    font-size: 6px;
    max-width: 100px;
  }
}
